<!-- todas_las_ventas.html -->

{% extends 'base.html' %}

{% block extra_css %}
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <style>
    .ui-datepicker {
      background-color: #333;
      color: #fff;
      border: 1px solid #555;
      border-radius: 8px;
    }
    
    .ui-datepicker-header {
      background-color: #555;
      color: #fff;
      border-bottom: 1px solid #777;
    }
    
    .ui-datepicker-calendar a {
      color: #fff;
    }
    
    .ui-datepicker-calendar a:hover {
      background-color: #555;
    }
    
    .ui-datepicker-calendar .ui-state-active {
      background-color: #777;
    }
    
    .ui-datepicker-calendar .ui-state-highlight {
      background-color: #666;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="container mt-4">
    <h1>Todas las Ventas</h1>

    <!-- Ver por Día -->
    <div class="mb-3">
      <h3>Ver por Día:</h3>
      <div class="input-group">
        <input class="form-control" type="text" id="datepickerDia" placeholder="Seleccionar fecha" style="border-radius: 5px;">
        <div class="input-group-append">
          <button class="btn btn-primary" id="buscarVentasDia" type="button" style="margin-left: 10px;">Ver Venta</button>
        </div>
      </div>
    </div>

    <!-- Ver por Semana -->
    <div class="mb-3">
      <h3>Ver por Semana:</h3>
      <form id="semanaForm" action="{% url 'enviar_semana' %}" method="get">
        {% csrf_token %}
        <div class="input-group"> 
          <input type="text" id="datepickerSemana" class="form-control" placeholder="Seleccionar fecha" name="fecha_seleccionada" style="border-radius: 5px;" required>
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit" style="margin-left: 10px;">Ver Ventas</button>
          </div>
        </div>
      </form>
    </div>

    <!-- Ver por Mes -->
    <div class="mb-3">
      <h3>Ver por Mes:</h3>
      <form method="post" action="{% url 'ventas_por_mes' %}" class="row">
        {% csrf_token %}
        <div class="form-group col-md-6">
          {{ form.mes }}
        </div>
        <div class="form-group col-md-3">
          {{ form.ano }}
        </div>
        <div class="form-group col-md-3">
          <button class="btn btn-primary" type="submit">Ver Ventas</button>
        </div>
      </form>
    </div>


    <!-- Todas las Ventas Registradas -->
    <h3>Todas las Ventas Registradas</h3>
    {% if ventas %}
    <div>
      <div class="dt-conteiner dt-bootstrap5" >
        <table class="table table-dark table-striped " id="ventasTable">
          <thead>
            <tr>
              <th scope="col">ID Venta</th>
              <th scope="col">Productos</th>
              <th scope="col">Total Invertido</th>
              <th scope="col">Total</th>
              <th scope="col">Ganancia</th>
              <th scope="col">Fecha de Venta</th>
            </tr>
          </thead>
          <tbody>
            {% for venta in ventas %}
              <tr>
                <td>{{ venta.id }}</td>
                <td>
                  {% for detalle in venta.detalle.all %}
                    {{ detalle.nombre_producto }} {{ detalle.medida_producto }} (Cantidad:{{ detalle.cantidad }} pz),
                  {% endfor %}
                </td>
                <td> $ {{ venta.total_invertido }} MXN</td>
                <td> $ {{ venta.total }} MXN</td>
                <td> $ {{ venta.ganancia }} MXN</td>
                <td>{{ venta.fecha_venta }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <div>
    </div>
    {% else %}
      <p>No hay ventas registradas.</p>
    {% endif %}
  </div>
{% endblock %}

{% block extra_js %}
  <!-- base.html o tu template base -->
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.datatables.net/2.0.0/js/dataTables.js"></script>
      
  <!--DataTable-->
  <script>    	
          $('#ventasTable').DataTable({
          "pagingType": "full_numbers",
          "lengthMenu": [10, 25, 50],
          "ordering": true,
          "responsive": true,
          
          "order": [[0, 'desc']],
          language: {
              url: '/static/js/es-ES.json',
          },
        });
  </script>

  <script>
    $(function() {
        $("#datepickerDia").datepicker({
            dateFormat: 'yy-mm-dd',
            showButtonPanel: true,
            maxDate: 0, 
            onSelect: function(dateText) {
                // Utiliza JavaScript para redirigir a la URL deseada con la fecha seleccionada
                // window.location.href = `/ventas_por_dia/${dateText}/`; <-- Mantén esto si prefieres la redirección automática
            }
        });

        $("#datepickerSemana").datepicker({
          dateFormat: 'yy-mm-dd',
          showButtonPanel: true,
          maxDate: 0, 
          onSelect: function(dateText) {
              // Utiliza JavaScript para redirigir a la URL deseada con la fecha seleccionada
              // window.location.href = `/ventas_por_dia/${dateText}/`; <-- Mantén esto si prefieres la redirección automática
          }
      });

      $('.datepickerMes').datepicker({
        format: 'mm/yyyy',  // Establece el formato del mes y el año
        startView: 'months',  // Inicia mostrando la vista de meses
        minViewMode: 'months',  // Establece la vista mínima a meses
        autoclose: true,  // Cierra automáticamente el calendario al seleccionar una fecha
        language: 'es'  // Establece el idioma (ajusta según tus necesidades)
    });
    
    // Función para enviar el formulario
    function enviarFormularioMes() {
        var fechaMes = document.getElementById("fecha_mes").value;
        // Puedes realizar más operaciones o enviar el formulario a tu vista aquí
    }
        
  
        $("#buscarVentasDia").on("click", function() {
            var selectedDate = $("#datepickerDia").val();
            if (selectedDate) {
                window.location.href = `/ventas_por_dia/${selectedDate}/`;
            }
        });
        
    });


  </script>

  

{% endblock %}
