{% extends 'base.html' %}
{%block extra_css%}

{%endblock%}
{% block content %}


  {% if venta.detalle.all %}
  <h2>Compra realizada con éxito</h2>
    <p>Detalle de la compra:</p>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Producto</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Precio Unitario</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        {% for detalle in venta.detalle.all %}
          <tr>
            <td>{{ detalle.producto.nombre }}</td>
            <td>{{ detalle.cantidad }}</td>
            <td>{{ detalle.precio_unitario }}</td>
            <td>{{ detalle.total }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    

  {% else %}
    <h1>{{ mensaje }}</h1>
  {% endif %}

  <div class="container mt-5">
    <a href="{% url 'mainpage' %}" class="btn btn-secondary btn-lg">
      <i class="fas fa-home"></i> ir al inicio
    </a>
    <a href="{%url 'venta_productos'%}" class="btn btn-primary btn-lg" style="margin-left:5px;">
      <i class="fas fa-shopping-cart"></i> Registrar Nueva Venta
    </a>
    <a href="{%url 'todas_las_ventas'%}" class="btn btn-info btn-lg" style="margin-left:5px;">
      <i class="fas fa-chart-bar"></i> Ver Reportes
    </a>
  </div>

  
{% endblock %}