<!-- venta_realizada.html -->

{% extends 'base.html' %}

{% block content %}

  {% if venta.detalle.all %}
  <h2>Compra realizada con éxito</h2>
    <p>Detalle de la compra:</p>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Producto</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Precio Unitario</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        {% for detalle in venta.detalle.all %}
          <tr>
            <td>{{ detalle.producto.nombre }}</td>
            <td>{{ detalle.cantidad }}</td>
            <td>{{ detalle.precio_unitario }}</td>
            <td>{{ detalle.total }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h1>{{ mensaje }}</h1>
    
  {% endif %}
{% endblock %}
