{% extends 'base.html'%}
{%block extra_css%}
<style>
    .card {
        width: 20rem;
        margin: 15px;
    }

    @media (max-width: 1400px) {
        .card {
            width: calc(95%);
        }
    }

    @media (max-width: 1200px) {
        .card {
            width: calc(90%); 
        }
    }

    @media (max-width: 992px) {
        .card {
            width: calc(90%);
        }
    }

    
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" >

{%endblock%}

{% block content %}

<script type="text/javascript">
    {% if messages %}
        {% for message in messages %}
            toastr.{{ message.tags }}("{{ message }}");
        {% endfor %}
    {% endif %}
</script>



<div id="custom-alert-container" class="fixed-top ml-2 mt-2" style="z-index: 1000;"></div>


<div class="row">
    <div class="col-lg-6">
        <div style="display: flex;">
            <h1>Todos los Productos</h1>            
        </div>
    </div>
    
    <div class="col-lg-6">
        <div class="input-group input-group-sm mb-5">
            {% comment %} <span class="input-group-text" id="inputGroup-sizing-sm">Buscar</span>
            <input type="text" class="form-control" id="searchInput" aria-label="Buscar" aria-describedby="inputGroup-sizing-sm" name ="Buscar">
             {% endcomment %}
            <form class ="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" method="GET">
                <div class = "input-group">
                    <input type="text" class="form-control" placeholder="Buscar Producto..." name="Buscar" value="" style="border-radius: 5px; background-color: #343a40; color: white;" id="barcodeInput">
                    <p id="barcodeOutput" style="color: white;"></p>
                    <button class="btn btn-primary" type="submit" style="border-radius: 5px; margin-left: 5px;">
                        <i class="fas fa-search"></i> Buscar
                    </button>

                <div class="input-group-append">
        </div>
        </div> 
            </form>

        <div class="conteiner" style = "margin-left: 10px;">
            <a class="btn btn-success" href="{% url 'ver_venta' %}">
                <i class="fa-solid fa-cart-shopping"></i> Ver Venta
            </a>
        </div>
            

        </div>
    </div>
       
</div>
<div class="row">
    {% for Producto in object_list %}
        <div class="col-sm-3">
            <div class="card card-item" >
                {% if Producto.imagen %}
                    <img src="{{ Producto.imagen.url }}" class="card-img-top" style="width: 100%; height:200px;" alt="..." >
                {% else %}
                    <div class="card-placeholder" style="width: 100%; height:200px; background-color: #212529; text-align: center; line-height: 200px;">
                        Sin imagen
                    </div>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ Producto.nombre }}</h5>
                    <p class="card-text">Medida: {{Producto.medida}}</p>
                    <p class="card-text">Existencias: {{Producto.existencia}}</p>
                    <p class="card-text">Precio: ${{ Producto.precio_venta }} MXN</p>   
                    {% comment %} Form para agregar mas de 1 {% endcomment %}
                    <form method="POST" action="{% url 'Agregar_varios' Producto.id %}" class="d-flex align-items-center" style="margin-bottom:5px">
                        {% csrf_token %}
                        <input type="hidden" name="id_producto" value ="{{ Producto.id }}">
                        <input class="form-control"type="number" name="cantidad" value="1" min="1" max="{{ producto.existencia }}" required style="width: 80px; margin-right: 5px;">
                        <button class="btn btn-primary" type="submit">Agregar <i class="bi bi-plus-circle-fill"></i></button>
                    </form>                    
                    {% comment %} Form para agregar una unidad del producto {% endcomment %}         
                    <form method="post" action="#">
                        {% csrf_token %}
                        <input type="hidden" name="id_producto" value ="{{ Producto.id }}">
                        <a class="btn btn-primary" href="{% url 'Agregar' Producto.id %}"> Añadir Producto <i class="bi bi-plus-circle-fill"></i> </a>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<div>
    Pagina {{page_obj.number}} de {{page_obj.paginator.num_pages}}
</div>


{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span>(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
{% endblock %}

{%block extra_js%}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {
        // Almacena todas las tarjetas con la clase 'card-item'
        var cards = $(".card-item");
    
        $("#").on("keyup", function () {
            var value = $(this).val().toLowerCase();
    
            // Recorre cada tarjeta y muestra/oculta según la búsqueda
            cards.each(function () {
                var cardText = $(this).text().toLowerCase();
                if (cardText.indexOf(value) > -1) {
                    $(this).show();  // Muestra la tarjeta si hay coincidencia
                } else {
                    $(this).hide();  // Oculta la tarjeta si no hay coincidencia
                }
            });
        });
    });
    
</script>

<script>
    function mostrarAlerta(mensaje, tipo) {
        var alertaHTML = `
            <div class="alert alert-${tipo} alert-dismissible fade show" role="alert">
                ${mensaje}
            </div>
        `;
    
        // Agrega el alerta al contenedor
        document.getElementById('custom-alert-container').innerHTML = alertaHTML;
    
        // Desvanece la alerta 
        setTimeout(function() {
            $('#custom-alert-container').fadeOut('slow', function() {
                $(this).html('');  // Limpia el contenido después de desvanecerse
            });
        }, 2000);
    }
    </script>
<script>
    // Obtén el contenedor del mensaje
var messageContainer = document.getElementById('django-message');

// Si hay un mensaje, muéstralo
if (messageContainer.innerHTML.trim() !== '') {
    // Muestra el contenedor del mensaje
    messageContainer.classList.remove('hidden');

    // Oculta el mensaje después de 5 segundos
    setTimeout(function() {
        messageContainer.classList.add('hidden');
    }, 5000);
}
</script>

<script>
document.addEventListener('DOMContentLoaded', (event) => {
    const input = document.getElementById('barcodeInput');
    const output = document.getElementById('barcodeOutput');

    input.addEventListener('keypress', (event) => {
        if (event.key === 'Enter') {
            const barcode = input.value;
            output.textContent = `Código de barras escaneado: ${barcode}`;
            input.value = ''; // Limpia el campo de entrada después de procesar el código
        }
    });
});
</script>

{%endblock%}