{% extends 'base.html' %}

{% block content %}
{% if messages %}
        {% for message in messages %}
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    mostrarAlerta("{{ message }}", "{{ message.tags }}");
                });
            </script>
        {% endfor %}
    {% endif %}

<div id="custom-alert-container" class="fixed-top ml-2 mt-2" style="z-index: 1000;"></div>

  <h1>Venta</h1>
  <table class="table table-bordered">
      <thead>
          <tr>
              <th scope="col">Cantidad</th>
              <th scope="col">Nombre de los productos</th>
              <th scope="col">Precio unitario</th>
              <th scope="col">Precio total</th>
              <th scope="col">Más Opciones</th>
              
          </tr>
      </thead>
      <tbody>
          {% if request.session.venta.items|length > 0 %}
              {% for key, value in request.session.venta.items %}
                  <tr>
                      <td>
                        <a href="{% url 'restar_producto' value.producto_id %}" class="badge btn btn-dark badge-dark">-</a>
                        {{ value.cantidad }}
                        <a href="{% url 'AgregarMas' value.producto_id %}" class="badge btn btn-dark badge-dark">+</a>
                      </td>
                  
                      <td>{{ value.nombre }} {{value.medida}}</td>
                      <td>{{ value.precio_venta }}</td>
                      <td>{{ value.acumulado }}</td>                      
                      <td>
                        
                        <a href="{% url 'eliminar_producto' value.producto_id %}" class="btn btn-custom-danger btn-sm" style="margin-top: 5px; ">Eliminar</a>

                      </td>
                        
                  </tr>
              {% endfor %}
          {% else %}
              <tr>
                  <td colspan="5">
                      <div class="alert alert-danger text-center">Sin Productos</div>
                  </td>
              </tr>
          {% endif %}
      </tbody>
  </table>


  <div class="total-div text-right">
    <p>Total: {{ total_venta }} MXN</p>
  </div>

  <a href="{%url 'realizar_compra'%}" class="btn btn-custom-warning btn-sm">Confirmar Compra</a>


{% endblock %}
{%block extra_js%}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    function mostrarAlerta(mensaje, tipo) {
        var alertaHTML = `
            <div class="alert alert-${tipo} alert-dismissible fade show" role="alert">
                ${mensaje}
            </div>
        `;
    
        // Agrega el alerta al contenedor
        document.getElementById('custom-alert-container').innerHTML = alertaHTML;
    
        // Desvanece la alerta 
        setTimeout(function() {
            $('#custom-alert-container').fadeOut('slow', function() {
                $(this).html('');  // Limpia el contenido después de desvanecerse
            });
        }, 2000);
    }
</script>

{%endblock%}