@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,100italic,300italic");
/*
0 - 600: Phone
600 - 900: Tablet portrait
900 - 1200: Tablet landscape
1200 - 1800: Normal styles
1800+ : Big Desktop
1em = 16px
The smaller device rules always should write below the bigger device rules
Fixing Order => Base + Typography >> General Layout + Grid >> Page Layout + Component


ToolCraft Style----------------------------------------------------------------
Ferreterias Pineda ----- Etma117, Dany248118  -----> Nexa Forge Labs

*/
body {
	font-family: "Roboto", Helvetica, sans-serif;	
	background-color: #26223b!important;
	color: white!important; 
}

h1, h2, h3, p, a {
	color: white; 
  }

.navbar {
	font-family: "Courier New", monospace;
	background-color: #26223b;
	color: white;
}

.highlight-red {
	color: #e76e50;
}

.highlight-purple {
	color: #8b00ff;
}

.dark-text {
	color: #ffffff;
}

.conteiner{
	background-color: #26223b;
}

ul{
    padding:0;
    margin:0;
    display: flex;
    flex-wrap: wrap;
}
ul li{
    list-style: none;
	font-family: "Roboto", Helvetica, sans-serif;
}
ul li a{
    text-decoration: none;
    color: #3d3d3d;
    font-size: 22px;
    display: block;
    padding: 18px 15px;
    position: relative;
}

ul li a:before{
	content:'';
	position: absolute;
	top: 0;
	left: 0;
   	width: 100%;
	height: 2px;
	background-color: #e76e50;
	transform: scalex(0);
	transform-origin: left;
   	transition: all 0.5s;
}
 
ul li a:after{
	content:'';
   	position: absolute;
	bottom: 0;
	left:0;
   	width: 100%;
	height: 2px;
   	background-color: #e76e50;
	transform: scalex(0);
   	transform-origin: right;
	transition: all 0.5s;
}

ul li a:hover{
	color:#e76e50;
}

ul li a:hover:before, ul li a:hover:after{
   	transform: scalex(1);
}

.btn-custom-info {
	color: #ffffff!important;
	background-color: #007777 !important; /* Azul turquesa obscuro */
	border-color: #007777;
  }

  .btn-custom-warning {
	color: #ffffff!important;
	background-color: #006600 !important;/* Verde obscuro */
	border-color: #006600;
  }

  .btn-custom-danger {
	color: #ffffff!important;
	background-color: #e76e50 !important; /* Rojo */ 
	border-color: #e76e50;
  }
